
<ion-content>

  
  <h4 class="ion-text-center txt">Restaurar Cuenta</h4>


  <ion-item class="item-margin"  fill="outline" mode="md">
    <ion-label color="duoc"  position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="mail"></ion-input>
  </ion-item>
  
  <br>


  <ion-button class="button-margin" color="primary" (click)="Restaurar()" expand="block"  >
    Restaurar
  </ion-button>
  <ion-button class="button-margin" color="dark" expand="block" href="/login-page">
    Login
  </ion-button>



</ion-content>
