#map{
    width: 100%;
    height: 100%;
    background-color: #f6f6f4;
}
ion-header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    
}

ion-card{
    position: fixed;
    width: 75%;
    top: 5rem;
    left: 48%;
    transform: translate(-50% , 0px);
    z-index: 999;   
}

#btnMenu{
    position: absolute;
    right: 3px;
    top: -5px;
}

.hidden{
    //visibility: hidden;
    display: none;
}

