<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="btnHome()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map">

    <ion-card mode="md" >
      <ion-card-header class="heder-card">
        <ion-card-title >
          <div>
          Donde Vamos?
            
            <ion-button (click)="hidden()" id="btnMenu" fill="clear" size="small" >
             <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>

          </div>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content [ngClass]="{'hidden': !menu, '': menu}">

        <ion-item class="item-margin" shape="round" fill="outline" mode="md">
          <ion-label color="duoc"  position="floating">Descripcion</ion-label>
          <ion-input type="text" [(ngModel)]="data.destino" ></ion-input>
        </ion-item>
        <br>
        <ion-item class="item-margin" shape="round" fill="outline" mode="md">
          <ion-label color="duoc"  position="floating">Capacidad</ion-label>
          <ion-input type="number" [(ngModel)]="data.pasajeros"  ></ion-input>
        </ion-item>
        <br>
        <ion-item class="item-margin" shape="round" fill="outline" mode="md">
          <ion-label color="duoc"  position="floating">Monto</ion-label>
          <ion-input type="number" [(ngModel)]="data.monto" ></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="viajar()" expand="block" fill="outline" shape="round">
          Viajar
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
  
  

</ion-content>