<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{user?.nombre! }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="btnHome()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <ion-text>
      <h3>nombre: {{user?.nombre!}}</h3>
    </ion-text>
    <ion-text>
      <h3>apellidos: {{user?.apellidos!}}</h3>
    </ion-text>
    <ion-text>
      <h3>rut: {{user?.rut!}}</h3>
    </ion-text>
    <ion-text>
      <h3>correo: {{user?.correo!}}</h3>
    </ion-text>

    <ion-text>
      <h3>tipo: {{user?.tipo_usuario!}}</h3>
    </ion-text>

  </div>

</ion-content>